html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #222;
}
main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.btn{
    margin: 1rem;
    padding: 10px;
    width: 128px;
    font-weight: 600;
    color: white;
    background-color: #1cacd8;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #0c6a86;
}
.btn:active{
    background-color: #0ba6d4;
    transform: scale(0.97);
}